configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "materia.rasi"
 
/* Insert theme modifications after this */

element {
  orientation: horizontal;
  children: [ element-icon, element-text ];
  spacing: 10px;
}

element-icon {
    size: 1em;
}

element-text {
  text-color: white;
}

element-text {
    vertical-align: 0.5;
}

listview {
    layout: horizontal;
    require-input: true;
}

